<div class='chat-main'>
  <div class='chat-mide'>
   <%= link_to "仲間を募集する", new_room_path, class: :create_room %>
  </div>
  <div class='room_right'>
    <% @rooms.each do |room| %>
      <div class='card'>
        <div class='room_name'>
          <b><%= room.name %></b>
        </div>
        <div class='room_concept'>
          <%= room.concept %>
        </div>
        <div class='room_score'>
          <%= room.score %>
        </div>
        <div class='room_about_age'>
          <%= room.about_age %>
        </div>
        <div class='room_member'>
          <%= room.member %>
        </div>
      </div>
    <% end %>
  </div>
</div>