<div class="room-main">
  <div class="left-side">
   <h1>新規チャットルーム</h1>
   <%=form_with model: @room, local: true do |f|%>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <%= f.label :チャットルーム名, class: 'chat-room-form__label'%>
      </div>
      <div class='chat-room-form__field--right'>
        <%= f.text_field :name, class: 'chat__room_name chat-room-form__input', placeholder: '例)2021/10/20 茨城県 9:30スタート 一緒にコース周る人募集'%>
      </div>
      <div class='chat-room-form__field--left'>
        <%= f.label :募集内容, class: 'chat-room-form__label'%>
      </div>
      <div class='chat-room-form__field--right'>
        <%= f.text_field :concept, class: 'chat__room_name chat-room-form__input2', placeholder: '例)ゴルフ場 コース名  男女募集'%>
      </div>
      <div class='chat-room-form__field--left'>
        <%= f.label :募集人数, class: 'chat-room-form__label'%>
      </div>
      <div class='chat-room-form__field--right'>
        <%= f.text_field :member, class: 'chat__room_name chat-room-form__input2', placeholder: '例)2名'%>
      </div>
      <div class='chat-room-form__field--left'>
        <%= f.label :アベレージスコア, class: 'chat-room-form__label'%>
      </div>
      <div class='chat-room-form__field--right'>
        <%= f.text_field :score, class: 'chat__room_name chat-room-form__input2', placeholder: '例)90台'%>
      </div>
      <div class='chat-room-form__field--left'>
        <%= f.label :年齢と性別, class: 'chat-room-form__label'%>
      </div>
      <div class='chat-room-form__field--right'>
        <%= f.text_field :about_age, class: 'chat__room_name chat-room-form__input2', placeholder: '例)30代 男性'%>
      </div>
    </div>
     <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'></div>
      <div class='chat-room-form__field--right'>
        <%= f.submit  class: 'chat-room-form__action-btn'%>
      </div>
    </div>
  <% end %>
  </div>
</div>
