<div class='chat-main'>
  <div class='chat-mide'>
   <%= link_to "仲間募集一覧", rooms_path, class: :create_room %>
  </div>
  <div class='room_right_show'>
        <div class='card_show'>
         <% if user_signed_in? && current_user.id == @room.user_id %>
            <div class="prototype__manage">
              <%= link_to "編集する", edit_room_path(@room.id), class: :prototype__btn %>
              <%= link_to "削除する", room_path(@room.id), method: :delete, class: :prototype__btn %>
            </div>
         <% end %>
          <div class='room_waku'>
            <div class='room_name'>
              <b><%=  @room.name %></b>
            </div>
            <div class='room_concept'>
              <%= @room.concept %>
            </div>
            <div class='room_score'>
              <%= @room.score %>
            </div>
            <div class='room_about_age'>
              <%= @room.about_age %>
            </div>
            <div class='side_name'>
              募集人数 
            </div>
            <div class='room_member'>
              <%= @room.member %>
            </div>
          </div>
        </div>
  </div>
</div>