<div class='chat-main'>
  <div class='chat-mide'>
   <%= link_to "商品一覧", items_path, class: :create_room %>
  </div>
  <div class='room_right'>
   <%# 商品の概要 %>
      <div class="item-show">
        <div class="item-box">
          <h2 class="name">
            <%= @item.product %>
          </h2>
          <div class="item-img-content">
            <%= image_tag @item.images[0],class: "item-box-img" %>
            <% @item.images.each do |image|%>
            <%= image_tag image ,class:"item-sub" %>
            <% end %> 
            <%# <% if @item.buy.present? %>
            <%# <div class="sold-out"> %>
              <%# <span>Sold Out!!</span> %>
            <%# </div> %>
            <%# <% end %> %> %>
          </div>
          <div class="item-price-box">
            <span class="item-price">
              <%= @item.price %>円
            </span>
            <span class="item-postage">
              <%= @item.freight.name %>
            </span>
          </div>
          
          <%= link_to "商品の編集", edit_item_path(@item.id), method: :get, class: "item-red-btn" %>
         <%= link_to "購入画面に進む", item_buys_path(@item.id) ,class:"item-red-btn"%>
            <%# <% if user_signed_in? && @item.buy.nil? %> %>
              <%# <% if current_user.id == @item.user_id %> %>
                <%# <%= link_to "商品の編集", edit_item_path(@item.id), method: :get, class: "item-red-btn" %> %>
                <%# <p class="or-text">or</p> %>
                <%# <%= link_to "削除", item_path(@item.id), method: :delete, class:"item-destroy" %> %>
              <%# <% else %> %>
                <%# <%= link_to "購入画面に進む", item_buys_path(@item.id) ,class:"item-red-btn"%> %>
              <%# <% end %> %>
            <%# <% end %> %>
          


          <div class="item-explain-box">
            <span><%= @item.product_description %></span>
          </div>
          <table class="detail-table">
            <tbody>
              <tr>
                <th class="detail-item">出品者</th>
                <td class="detail-value"><%= @item.user.nickname %></td>
              </tr>
              <tr>
                <th class="detail-item">カテゴリー</th>
                <td class="detail-value"><%= @item.category.name %></td>
              </tr>
              <tr>
                <th class="detail-item">商品の状態</th>
                <td class="detail-value"><%= @item.product_status.name %></td>
              </tr>
              <tr>
                <th class="detail-item">配送料の負担</th>
                <td class="detail-value"><%= @item.freight.name %></td>
              </tr>
              <tr>
                <th class="detail-item">発送元の地域</th>
                <td class="detail-value"><%= @item.state.name %></td>
              </tr>
              <tr>
                <th class="detail-item">発送日の目安</th>
                <td class="detail-value"><%= @item.due_date.name %></td>
              </tr>
            </tbody>
          </table>
        </div>
    <%# /商品の概要 %>
   </div>
  </div>
</div>